.body_container{
    background-color: red;
}
.containerr{
    margin-left: 800px;
    padding-right: 200px;
}
.button{
    margin-right: 690px;
}
.text{
    margin-right: 690px;
}
.div1{
    background-color: royalblue;
    border-radius: 50px;
    height: 130px;
}
.div2{
    background-color: royalblue;
    border-radius: 50px;
    height: 130px;
}
